body {
  font-family: "Inter", "Noto Sans JP", "Hiragino Kaku Gothic ProN", meiryo,
    sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  line-height: 1.4;
  letter-spacing: 0.05em;
  background-image: url(../public/images/bg.png);
  font-weight: 400;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  overflow-y: scroll;
}

blockquote,
q {
  quotes: none;
}

img {
  vertical-align: bottom;
}
input[type="button"] {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.03em;
}
.btn {
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition: 0.3s;
}
.btn-primary {
  background-color: var(--blue);
}

button:hover {
  opacity: 0.7;
  transition: 0.3s;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

a:focus {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

.both {
  clear: both;
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
:root {
  --blue: #0060a7;
  --orange: #f29528;
  --gray: #707070;
  --red: #db2020;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.flexbox {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  　-webkit-box-pack: justify;
  　-webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  　-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.inner {
  min-width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

section {
  padding: 30px 0;
}

section h2 {
  color: var(--blue);
  font-size: 36px;
  text-align: center;
  border-bottom: solid 2px var(--blue);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
section h2 img {
  margin-right: 10px;
}
section .inner {
  max-width: 1080px;
  margin: 0 auto;
}

.section-box {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  padding: 30px;
  margin-bottom: 30px;
}
/*Acceptance Modal*/
.modal-open {
  padding-right: 0 !important;
}

.acceptance-modal.modal.show.without-z {
  z-index: 10;
}
.acceptance-modal.modal.show.with-z {
  z-index: 2000;
}
.acceptance-modal.modal.show .modal-dialog {
  max-width: 730px;
}

.modal.show .modal-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue);
}

.acceptance-modal .modal-body {
  width: 82%;
  margin: auto;
}

.actions button {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.03em;
  padding: 10px 0;
  border: none;
}

.actions button:first-child {
  width: 80px;
  background-color: var(--gray);
}

.actions button:last-child {
  width: 250px;
  background-color: var(--blue);
}

/*Waiting-Modal*/
.waiting-modal.modal.show .modal-dialog .modal-header {
  justify-content: center;
  border: none;
  padding: 30px 0 0px;
}

.waiting-modal.modal.show.with-z {
  z-index: 2000;
}

.waiting-modal form {
  padding: 30px 20px;
  border: 2px solid #ced4da;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto 20px;
}

.waiting-modal form .input-group-text {
  font-weight: 500;
  background-color: #e6f3fa;
}

.waiting-modal form .form-text {
  font-weight: 700;
}

.waiting-modal form .actions button {
  width: auto;
  padding: 15px;
  background-color: var(--gray);
  border-radius: 10px;
}

section .inner.under h2 {
  margin-top: 55px;
  padding: 0;
  border: none;
  letter-spacing: 0.05em;
}

.color1{
  background-color: #D1F3FF;
}
.color2{
  background-color: #8AD4EF;
}
.color3{
  background-color: #43B9E3;
}
.color4{
  background-color: #FFE3D1;
}
.color5{
  background-color: #FFC098;
}
.color6{
  background-color: #FF9C5D;
}

@media screen and (min-width: 1080px) {
  .calendar-submit {
    margin-left: calc((100vw - 1065px) / -2);
  }
}
@media screen and (max-width: 640px) {
  .inner {
    min-width: 100%;
    padding: 0 15px;
  }

  section h2 {
    font-size: 28px;
  }
  section h2 img {
    width: 40px;
  }
}
