.container {
  width: 100%;
  height: 100%;
}

.container :global(.header) {
  background-color: var(--blue);
  color: #fff;
}

.container :global(.header .inner) {
  align-items: center;
  height: 100px;
  max-width: 1080px;
}

.container :global(.header .inner h1) {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
}

.container :global(.header .inner h1 span) {
  font-size: 18px;
  font-weight: 500;
}

.container :global(.header .inner h1 img) {
  max-width: 138px;
  margin-right: 20px;
}

.container :global(.header-user) {
  margin-bottom: 0;
  color: var(--blue);
  height: 45px;
}

.container :global(.header-user button) {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 50px;
  background-image: url("../public/images/user-icon.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 32px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  color: var(--blue);
}

.container :global(.header-user button:hover) {
  color: inherit;
  background-color: #fff;
}

.container :global(footer) {
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
}

.container :global(.totop) {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.main {
  width: 100%;
  height: 100%;
}

.main :global(.page-nav) {
  position: fixed;
  right: 0;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px 0 0 10px;
  padding: 15px 0 15px 12px;
  width: 150px;
  color: #aaa;
  z-index: 20;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(73%);
  transition: ease 0.4s;
}

.main :global(.page-nav.open) {
  transform: translateX(0);
}

.main :global(.nav-btn) {
  position: absolute;
  left: 14px;
  top: 23px;
  background-image: url(../public/images/arrow7.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0;
}

.main :global(.page-nav.open .nav-btn) {
  background-image: url(../public/images/arrow6.svg);
}

.main :global(.nav-txt1) {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding-right: 5px;
  color: var(--blue);
}

.main :global(.step-number) {
  background-color: #aaa;
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 14px;
}

.main :global(.page-nav li a.active) {
  color: var(--blue);
}
.main :global(.page-nav li a.active .step-number) {
  background-color: var(--blue);
  color: #fff;
}

.main :global(.page-nav ul) {
  padding-left: 0;
}

.main :global(.page-nav li) {
  margin-bottom: 10px;
  position: relative;
}

.main :global(.page-nav li::marker) {
  display: none;
  content: "";
}

.main :global(.page-nav li a) {
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

.main :global(.page-nav .active) {
  color: var(--blue);
}

.main :global(.page-nav li:after) {
  content: " ";
  border-left: solid 1px #ddd;
  position: absolute;
  bottom: -10px;
  left: 40%;
  height: 10px;
}

.main :global(.page-nav li:last-child) {
  margin: 0;
}

.main :global(.page-nav li:last-child:after) {
  display: none;
}

/*Section-1*/
.main :global(.first-section .inner) {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 90px;
}

.main :global(.first-section select) {
  display: inline;
  width: inherit;
  margin-right: 6px;
  border-radius: 0.25rem;
}

.main :global(.first-section form > div) {
  padding: 10px 0;
}
.main :global(.first-section form > div:last-child) {
  padding: 8px 0 5px;
}

.main :global(.first-section .form-label) {
  color: var(--blue);
  font-size: 20px;
  width: 100px;
  font-weight: 600;
}
/*End of section-1*/

/*Section-2*/
.main :global(.summary-section) {
  padding: 40px;
  border-radius: 10px;
  margin: 0 auto 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.main :global(.summary-section .summary-detail) {
  max-width: 600px;
  margin: auto;
}
.main :global(.summary-section .summary-detail) {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.main :global(.summary-section .summary-detail .key) {
  background-color: #e2f2ff;
  color: var(--gray);
  border-bottom: solid 2px #e2f2ff;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 10px;
}
.main :global(.summary-section .summary-detail .value) {
  border-bottom: solid 2px #e2f2ff;
  width: 310px;
  padding: 10px 0 10px 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 10px;
}

.main :global(.summary-section .summary-detail button) {
  margin: auto;
  text-align: center;
  background-color: var(--gray);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.03em;
  padding: 12px 50px;
  border: none;
  margin-top: 20px;
}
.main :global(.second-section .checkbox) {
  justify-content: flex-start;
  margin-bottom: 10px;
}
.main :global(.second-section .checkbox li) {
  position: relative;
  border: solid 1px var(--blue);
  background-color: #fff;
  width: 23.5%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 0 2% 20px 0;
  color: var(--blue);
  font-size: 20px;
}
.main :global(.second-section .checkbox li:nth-child(4n)) {
  margin: 0 0 20px 0;
}
.main :global(.second-section .checkbox li.hotel-close:after) {
  content: "休館中";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 500;
  cursor: default;
}
.main :global(.second-section .checkbox li img) {
  width: 100%;
  max-width: 235px;
  margin-bottom: 5px;
}
.main :global(.second-section .disabled_checkbox) {
  position: absolute;
  top: 5px;
  left: 5px;
  transform: scale(2);
  display: none;
}
.main :global(.second-section .checkbox li.checked) {
  border: 6px solid var(--blue);
  box-sizing: border-box;
  margin-bottom: 18px;
}
.main :global(.second-section .checkbox li.checked .disabled_checkbox) {
  display: block;
}
.main :global(.second-section .next) {
  width: 100%;
  text-align: center;
}
/*End of section-2*/
/* Section-3 */
.main :global(.third-section .status-colors) {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  padding: 20px;
  margin-bottom: 40px;
}

.main :global(.third-section .status-colors li) {
  display: flex;
  justify-content: center;
}
.main :global(.third-section .status-colors .status-color) {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 1px #dddddd;
  margin-right: 5px;
}
.main :global(.third-section .switch-month) {
  align-items: center;
  margin-bottom: 15px;
}
.main :global(.third-section .switch-month button) {
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.main :global(.third-section .switch-month .previous-btn) {
  background-image: url(../public/images/bg-arrow1.svg);
  padding: 8px 12px 8px 27px;
}

.main :global(.third-section .switch-month .next-btn) {
  background-image: url(../public/images/bg-arrow2.svg);
  padding: 8px 22px 8px 28px;
}

.main :global(.third-section .switch-month p) {
  font-size: 18px;
  color: var(--blue);
}

.main :global(.third-section .submit) {
  text-align: center;
}

.main :global(.third-section .calendar-section) {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  padding: 20px;
  margin-bottom: 40px;
}
.main :global(.third-section .calendar-section h3) {
  color: var(--blue);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
.main :global(.third-section .calendar-section .calendar-table) {
  margin-bottom: 10px;
}

.main :global(.third-section .calendar-section .calendar-table th) {
  text-align: center;
  background-color: #eee;
  border: solid 1px #dddddd;
  vertical-align: middle;
  padding: 7px 0;
  border-bottom-color: black;
}

.main :global(.third-section .calendar-section .calendar-table .room-type) {
  width: 215px;
}
.main :global(.third-section .calendar-section .calendar-table .room-number) {
  width: 65px;
}
.main :global(.third-section .calendar-section .calendar-table .day) {
  font-weight: 600;
  line-height: 1;
  width: 35px;
  position: relative;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .day.with-before
      .header-text
  ) {
  position: absolute;
  top: -29px;
  left: -1px;
  width: 97px;
  border: solid 1px #ddd;
  border-radius: 5px 5px 0 0;
  display: block;
  font-size: 13px;
  padding: 7px 0;
  font-weight: 600;
}


.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .day.with-before
      .header-text.black
  ) {
    color: black;
  }

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .day.with-before.hide
      .header-text
  ) {
    display: none;
  }

.main :global(.third-section .calendar-section .calendar-table .day.saturday) {
  color: #005ac3;
  border-bottom-color: #005ac3;
}

.main :global(.third-section .calendar-section .calendar-table .day.sunday),
.main :global(.third-section .calendar-section .calendar-table .day.red){
  color: #d90000;
  border-bottom-color: #d90000;
}

.main
  :global(.third-section .calendar-section .calendar-table .day .day-number) {
  font-weight: 600;
  line-height: 1.4;
}

.main :global(.third-section .calendar-section .calendar-table .day .day-name) {
  font-weight: 400;
  font-size: 10px;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .calendar-body
      tr
      td:first-child
  ) {
  text-align: left;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .calendar-body
      tr
      td.disabled
  ) {
  cursor: initial;
}

.main
  :global(
    .third-section .calendar-section .calendar-table .calendar-body tr td
  ) {
  border: solid 1px #dddddd;
  vertical-align: middle;
  text-align: center;
  letter-spacing: normal;
  position: relative;
  cursor: pointer;
}
.main
  :global(
    .third-section .calendar-section .calendar-table .calendar-body tr td.gray
  ) {
  background-color: #dddddd;
  border: solid 1px #c6c4c4;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .calendar-body
      tr
      td.pale.blue
  ) {
  background-color: #d1f3ff;
}

.main
  :global(
    .third-section .calendar-section .calendar-table .calendar-body tr td.blue
  ) {
  background-color: #8ad4ef;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .calendar-body
      tr
      td.deep.blue
  ) {
  background-color: #43b9e3;
}

.main
  :global(
    .third-section
      .calendar-section
      .calendar-table
      .calendar-body
      tr
      td.selected
  ) {
  border: 3px solid var(--blue);
  box-sizing: border-box;
  margin-bottom: 18px;
  padding: 5px;
}

.main :global(.third-section .calendar-section .switch-week) {
  margin-left: 285px;
}

.main :global(.third-section .switch-week button) {
  background-repeat: no-repeat;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.main :global(.third-section .switch-week .previous-btn) {
  background-image: url(../public/images/bg-arrow3.svg);
  padding: 3px 7px 3px 15px;
}

.main :global(.third-section .switch-week .next-btn) {
  background-image: url(../public/images/bg-arrow4.svg);
  padding: 3px 15px 3px 7px;
}
.main :global(.third-section .calendar-submit) {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 25px 0;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
.main :global(.third-section .submit input),
.main :global(.third-section .submit button) {
  border: none;
  background-color: var(--blue);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 350px;
  border-radius: 5px;
  padding: 15px 0;
  background-image: url(../public/images/arrow1.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  letter-spacing: 0.08em;
}
/*End of section-3*/
/* section4 */
.main :global(.fourth-section .message-box) {
  max-width: 840px;
  margin: 0 auto 20px;
}
.main :global(.fourth-section .btn-box) {
  max-width: 840px;
  margin: 0 auto 20px;
}

.main :global(.fourth-section .basic-info-form .row) {
  width: 100%;
  border-bottom: solid 1px #c6e6ff;
  margin: 0;
}

.main :global(.fourth-section .basic-info-form .row .col) {
  width: 48%;
  padding: 0;
  display: flex;
  flex: 1;
}

.main :global(.fourth-section .basic-info-form .row .col:first-child) {
  margin-right: 20px;
}

.main :global(.fourth-section .basic-info-form .row .col:last-child) {
  margin-left: 20px;
}

.main :global(.fourth-section .basic-info-form select),
.main :global(.fourth-section .basic-info-form input) {
  display: inline;
  margin: 10px 0;
  border-radius: 0.25rem;
}

.main :global(.fourth-section .basic-info-form .number-room-select) {
  width: 35%;
}

.main :global(.fourth-section .basic-info-form .key) {
  color: var(--blue);
  font-weight: 600;
  font-size: 18px;
  width: 28%;
  padding: 15px 0;
  vertical-align: middle;
  margin-bottom: 0;
  margin: auto 0;
}

.main :global(.fourth-section .basic-info-form .value) {
  width: 76%;
  padding: 10px 0;
  vertical-align: middle;
}

.main :global(.fourth-section .basic-info-form .name-group input) {
  width: 34.5%;
  margin-right: 5px;
}

.main :global(.fourth-section .basic-info-form .one-input input) {
  width: 70%;
}

.main :global(.was-validated .form-control:invalid),
.main :global(.was-validated .form-control:valid),
.main :global(.was-validated .form-select:valid:not([multiple]):not([size])) {
  background-image: none;
}
.main :global(.fourth-section .basic-info-form input.red-border) {
  border-color: #dc3545;
}

.main :global(.fourth-section .basic-info-form button) {
  padding: 8px 50px;
  width: auto;
  margin: 30px auto 0px;
}
/*End of section-4*/

/*Media Query*/
@media screen and (max-width: 640px) {
  /*Layout*/
  .container :global(.header .inner) {
    height: auto;
    padding: 10px 15px 10px;
  }

  .container :global(.header .inner h1) {
    align-items: center;
    font-size: 3.5vw;
  }

  .container :global(.header .inner h1 span) {
    font-size: 2.5vw;
  }

  .container :global(.header .inner h1 img) {
    width: 20vw;
    max-width: 138px;
    margin: 0 10px -4px 0;
  }

  .container :global(.header-user) {
    width: 38%;
    display: flex;
    justify-content: flex-end;
  }

  .container :global(.header-user button) {
    font-size: 3.5vw !important;
    padding: 1.5vw 1.5vw 1.5vw 7.5vw;
    -webkit-background-size: 5vw;
    background-size: 5vw;
    margin: 1vw 0;
  }
  /*End of layout*/

  /*Index*/
  .main :global(.page-nav.pc) {
    display: none;
  }

  .main :global(section) {
    padding: 20px 0;
  }

  .main :global(.section-box) {
    padding: 20px 15px;
  }

  .main :global(.first-section) {
    padding: 20px 15px;
  }
  .main :global(.first-section .inner) {
    padding: 5px 0 5px 15px;
  }

  .main :global(.first-section .date-form) {
    display: table-cell !important;
  }

  .main :global(.second-section .checkbox) {
    margin-bottom: 20px;
  }

  .main :global(.second-section .checkbox li) {
    width: 49%;
    margin: 0 2% 10px 0;
  }
  .main :global(.second-section .next img) {
    width: 15%;
    max-width: 74px;
  }

  .main :global(.third-section .calendar-submit) {
    margin-left: -15px;
  }

  .main :global(.fourth-section .basic-info-form .row) {
    display: inline-block;
    border-bottom: none;
    text-align: center;
  }
  .main :global(.fourth-section .basic-info-form .row .col) {
    border-top: solid 1px #c6e6ff;
    width: 100%;
  }

  .main :global(.fourth-section .basic-info-form .row .col.pc) {
    display: none;
  }

  .main :global(.fourth-section .basic-info-form .row .col:last-child) {
    margin-left: 0px;
  }

  .main :global(.fourth-section .basic-info-form .key) {
    width: 25%;
    padding: 10px 0;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .main :global(.fourth-section .basic-info-form .value) {
    width: 75%;
    margin: 0;
    line-height: inherit;
  }
  .main :global(.fourth-section .basic-info-form .name-group input) {
    width: 37%;
    height: fit-content;
  }

  .main :global(.fourth-section .basic-info-form .one-input input) {
    width: 75%;
    height: fit-content;
  }

  .main :global(.summary-section) {
    padding: 20px;
  }

  .main :global(.summary-section .summary-detail .key) {
    width: 35%;
  }

  .main :global(.summary-section .summary-detail .value) {
    width: 65%;
    /* padding: 0px 0 0px 15px; */
  }

  .main :global(.summary-section .summary-detail button) {
    padding: 12px 30px;
  }

  .main :global(.third-section .status-colors) {
    padding: 10px;
    justify-content: flex-start;
  }

  .main :global(.third-section .status-colors li) {
    font-size: 2.7vw;
    text-align: left;
    align-items: center;
    margin: 0 10px 10px 0;
    justify-content: flex-start;
    letter-spacing: 0;
    align-items: center;
  }

  .main :global(.third-section .status-colors .status-color) {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
  }

  /*Third section calendar*/
  .main :global(.third-section .calendar-sp .switch-month p) {
    display: none;
  }

  .main :global(.third-section .calendar-sp .switch-month .previous-btn) {
    padding: 2vw 2vw 2vw 5vw;
    font-size: 4vw;
    background-size: contain;
  }

  .main :global(.third-section .calendar-sp .switch-month .next-btn) {
    padding: 2vw 5vw 2vw 2vw;
    font-size: 4vw;
    background-size: contain;
  }

  .main
    :global(
      .third-section .calendar-sp .calendar-section .calendar-table .day
    ) {
    font-size: 5vw;
    background-color: #fff;
    vertical-align: bottom;
    width: 14%;
    width: calc(100% / 7);
    border-bottom-color: #ddd;
    line-height: 0.3;
  }

  .main
    :global(
      .third-section .calendar-sp .calendar-section .calendar-table .room-type
    ),
  .main
    :global(
      .third-section .calendar-sp .calendar-section .calendar-table .room-number
    ),
  .main
    :global(
      .third-section
        .calendar-sp
        .calendar-section
        .calendar-table
        .day.with-before
        .header-text
    ) {
    display: none;
  }

  .main :global(.third-section .calendar-sp .calendar-body .type-row) {
    display: table-row;
  }

  .main
    :global(
      .third-section .calendar-sp .calendar-body .type-row td:first-child
    ) {
    text-align: left;
    background-color: #eee;
    font-weight: 500;
    border-right: none;
  }

  .main
    :global(
      .third-section .calendar-sp .calendar-body .type-row td:last-child
    ) {
    text-align: right;
    background-color: #eee;
    font-size: 14px;
    border-left: none;
  }

  .main
    :global(.third-section .calendar-sp .calendar-body tr.opening-number td) {
    font-size: 20px;
    text-align: center !important;
    font-weight: 600;
  }

  .main
    :global(
      .third-section
        .calendar-sp
        .calendar-section
        .calendar-table
        .day
        .day-number
    ) {
    line-height: 1;
  }

  .main
    :global(
      .third-section
        .calendar-sp
        .calendar-section
        .calendar-table
        .day
        .day-name
    ) {
    font-size: 3vw;
    display: block;
    margin-top: 3px;
    line-height: 1;
  }

  .main
    :global(
      .third-section
        .calendar-sp
        .calendar-section
        .calendar-table
        .day.with-before
        .month-sp
    ) {
    font-weight: 600;
    font-size: 3vw;
    line-height: 1;
  }

  .main :global(.third-section .calendar-sp .calendar-section .switch-week) {
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .main
  :global(
    .third-section .calendar-sp .calendar-section .calendar-table .day
  ) {
    font-size: 4vw;
  }

  .main
  :global(.third-section .calendar-sp .calendar-body tr.opening-number td) {
  font-size: 15px;
}
}
